<div>
  <h2>Documentos</h2>

  <!-- Buscador de Documentos -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar Documento</mat-label>
    <mat-select (selectionChange)="obtenerDocumento($event.value)">
      <mat-option *ngFor="let documento of documentos" [value]="documento.id">
        {{ documento.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Tabla de Documentos -->
  <mat-table [dataSource]="documentos">
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
      <mat-cell *matCellDef="let documento"> {{ documento.titulo }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['titulo']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['titulo']"></mat-row>
  </mat-table>

  <!-- Botón para crear un nuevo documento -->
  <button mat-raised-button color="primary" (click)="crearDocumento()">
    Crear Documento
  </button>

  <!-- Formulario para crear un nuevo documento -->
  <mat-card *ngIf="selectedDocumento === null">
    <mat-card-content>
      <form [formGroup]="newDocumentoForm" (ngSubmit)="crearDocumento()">
        <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput formControlName="titulo" />
          <mat-error
            *ngIf="newDocumentoForm.get('titulo')?.hasError('required')"
          >
            El título es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" />
          <mat-error
            *ngIf="newDocumentoForm.get('numero')?.hasError('required')"
          >
            El número es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de Emisión</mat-label>
          <input matInput type="date" formControlName="fechaEmision" />
          <mat-error
            *ngIf="newDocumentoForm.get('fechaEmision')?.hasError('required')"
          >
            La fecha de emisión es requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Entidad Emisora</mat-label>
          <input matInput formControlName="entidadEmisora" />
          <mat-error
            *ngIf="newDocumentoForm.get('entidadEmisora')?.hasError('required')"
          >
            La entidad emisora es requerida
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Crear Documento
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
